<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="articleForm">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="title"
                type="text"
                placeholder="Titulo del tema" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="description"
                type="text"
                placeholder="¿De qué trata este tema?" />
            </fieldset>

            <fieldset class="form-group">
              <textarea class="form-control"
                formControlName="body"
                rows="8"
                placeholder="Descripción">
              </textarea>
            </fieldset>


            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
            <ngx-editor
              [editor]="editor"
              [(ngModel)]="html"
              >
            </ngx-editor>

            <br>
            <button type="button" (click)="Guardar()">Guardar</button>

            <br><br>

            <div [innerHTML]="html"></div>
            <!-- <fieldset class="form-group">
              <input class="form-control"
                type="text"
                placeholder="Introducir Etiquetas"
                [formControl]="tagField"
                (keyup.enter)="addTag()" />

              <div class="tag-list">
                <span *ngFor="let tag of article.tagList"
                  class="tag-default tag-pill">
                  <i class="ion-close-round" (click)="removeTag(tag)"></i>
                  {{ tag }}
                </span>
              </div>
            </fieldset> -->

            <button class="btn btn-lg centro btn-primary" type="button" (click)="submitForm()">
              Publicar
            </button>
          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>
