<footer  class="color-3">
  <div class="container">
    <a class="logo-font" routerLink="/"><b class="text1">Bo</b><b class="text2">li</b><b class="text3">vian</b> <b class="dev"> Developers <></b></a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}
      by: Miler Arnez Ponce
    </span>
  </div>
</footer>
