<nav class="navbar navbar-light color">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><b class="text1">Bo</b><b class="text2">li</b><b class="text3">vian</b> <b class="dev"> Developers <></b></a>

    <!-- Mostrar esto para los usuarios que han cerrado la sesión -->
    <ul *appShowAuthed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item"><a class="nav-link " routerLink="/" >Inicio</a></li>

      <li class="nav-item"><a class="nav-link " routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
      </li>

      <li class="nav-item"><a class="nav-link " routerLink="/register" routerLinkActive="active">Registrarse</a>
      </li>

    </ul>

    <!-- Mostrar esto para usuarios registrados -->
    <ul *appShowAuthed="true"
     class="nav navbar-nav pull-xs-right">

      <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      </li>

      <li class="nav-item"><a class="nav-link" routerLink="/editor" routerLinkActive="active">
        <i class="ion-compose"></i>&nbsp; Nuevo Articulo</a>
      </li>

      <li class="nav-item"><a class="nav-link" routerLink="/settings" routerLinkActive="active">
        <i class="ion-gear-a"></i>&nbsp; Configuraciones
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

    </ul>

  </div>
</nav>
