/* You can add global styles to this file, and also import other style files */

body{
  background-image: url("./assets/img/eze.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  color: rgb(0, 255, 42);
}